

$color-red : $color-primary;
$color-white : #fff;


/* DATA */

.map-container {
  // min-height: 600px;
  @media (min-width: $breakpoint-sm) {
    min-height: 600 * $one;
  }
}

.datamaps-bubble {
  cursor: pointer;
  transform-origin: center;
  // transition: transform 0.5s;
}

@keyframes pop {
  0%   { transform: scale(1); }
  30%  { transform: scale(2); }
  100% { transform: scale(1); }
}

.datamaps-bubble.is-focused {
  animation: pop 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.datamaps-hoverover {
  font-family: inherit !important;
}

.map-tooltip {
  position: absolute;
  background: #fff;
  padding: 1rem;
  font-size: .85em;
  opacity: 0.95;
  // white-space: nowrap;
  text-align: center;
  @include shadow-8dp();
  width: 240px;
}

.map-tooltip-content {
  min-height: 2.5rem;
  line-height: 2.5rem;
  border-top: 2px solid $color-primary;

  i {
    position: relative;
    top: 5px;
  }

  .map-tooltip-label {
    // font-size: 1.3rem;
    // text-transform: uppercase;
    // color: #ccc;
  }
}

.map-zoom-buttons {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1000;
  .zoom-button {
    width: 72 * $one;
    height: 72 * $one;
    line-height: 56 * $one;
    display: block;
    outline: none;
    user-selection: none;
    text-decoration: none;
    color: $text-color-base;
  }
}

.indicator-list {
  
}

.indicator-list ul {

}

.indicator-list li {
  cursor: pointer;
  &:hover {
    box-shadow: inset 0 0 0 48px rgba(0,0,0,0.1);
  }
}

.indicator-label {
  // float: left;
}

.indicator-value {
  // float: right;
  text-align: left;
  @media (min-width: $breakpoint-md) {
    text-align: right;
  }
}

.indicator.is-active {
  background: $color-dark-grey;
}


.data-select {
  color: #fff;
  .Select {
    border-bottom: 2px solid #fff;
  }
  .Select-arrow {
    border-color: $color-white transparent transparent;
  }
}

.data-sidebar {
  @media (min-width: $breakpoint-sm) {
    position: absolute !important;
    top: 0;
    left: 0;
    height: 100%;
    @include shadow-16dp();
  }
  > div {
    overflow: scroll;
    height: 100%;
  }
}

// .data-select {

//   $select-input-height: 3.5rem;

//   .Select {
//     position: relative;

//     // preferred box model
//     &,
//     & div,
//     & input,
//     & span {
//       @include box-sizing(border-box);
//     }

//     // handle disabled state
//     &.is-disabled > .Select-control {
//       background-color: $select-input-bg-disabled;
//     }
//     &.is-disabled .Select-arrow-zone {
//       cursor: default;
//       pointer-events: none;
//     }
//   }

//   // base

//   .Select-control {
//     background-color: transparent; //$select-input-bg;
//     border-color: lighten($select-input-border-color, 5%) $select-input-border-color darken($select-input-border-color, 10%);
//     border-radius: 0px;// $select-input-border-radius;
//     border: none; //$select-input-border-width solid $select-input-border-color;
//     color: #fff;
//     cursor: default;
//     display: table;
//     height: $select-input-height;
//     outline: none;
//     overflow: hidden;
//     position: relative;
//     width: 100%;
//     padding:1rem;
//     font-weight:bold;
//     font-size: 1.5rem;
//     margin-top: 1rem;
//     border-bottom: 2px solid white;


//     &:hover {
//       box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
//     }
//   }

//   .is-searchable {
//     &.is-open > .Select-control {
//       cursor: text;
//     }
//   }

//   .is-open > .Select-control {
//     border-radius: 0;
//     // @include border-bottom-radius( 0 );
//     background: $select-input-bg;
//     border-color: darken($select-input-border-color, 10%) $select-input-border-color lighten($select-input-border-color, 5%);

//     // flip the arrow so its pointing up when the menu is open
//     > .Select-arrow {
//       border-color: transparent transparent $select-arrow-color;
//       border-width: 0 $select-arrow-width $select-arrow-width;
//     }
//   }

//   .is-searchable {
//     &.is-focused:not(.is-open) > .Select-control {
//       cursor: text;
//     }
//   }

//   .is-focused:not(.is-open) > .Select-control {
//     border-color: $select-input-border-focus lighten($select-input-border-focus, 5%) lighten($select-input-border-focus, 5%);
//     box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 0 5px -1px fade($select-input-border-focus,50%);
//   }

//   // placeholder

//   .Select-placeholder {
//     bottom: 0;
//     //color: $select-input-placeholder;
//     left: 0;
//     line-height: 3.5rem;
//     //line-height: $select-input-internal-height;
//     padding-left: 2rem; //$select-padding-horizontal;
//     padding-right: 2rem; //$select-padding-horizontal;
//     position: absolute;
//     right: 0;
//     top: 0;

//     color: #fff;


//     // crop text
//     max-width: 100%;
//     overflow: hidden;
//     text-overflow: inherit;// ellipsis;
//     white-space: nowrap;
//   }

//   .has-value > .Select-control > .Select-placeholder {
//     color: #fff; //$select-text-color;
//   }

//   // value with custom renderer

//   .Select-value {
//     color: $select-input-placeholder;
//     left: 0;
//     padding: $select-padding-vertical 52px $select-padding-vertical $select-padding-horizontal;
//     position: absolute;
//     right: -($select-arrow-width + $select-padding-horizontal);
//     top: 0;

//     // crop text
//     max-width: 100%;
//     overflow: hidden;
//     text-overflow: ellipsis;
//     white-space: nowrap;
//   }

//   .has-value > .Select-control > .Select-value {
//     color: #fff; //$select-text-color;
//   }


//   // the <input> element users type in

//   .Select-input {
//     // inherits `display: inline-block` from "react-input-autosize"
//     height: $select-input-internal-height;
//     padding-left: $select-padding-horizontal;
//     padding-right: $select-padding-horizontal;
//     vertical-align: middle;

//     > input {
//       background: none transparent;
//       border: 0 none;
//       box-shadow: none;
//       cursor: default;
//       display: inline-block;
//       font-family: inherit;
//       font-size: inherit;
//       height: $select-input-internal-height;
//       margin: 0;
//       outline: none;
//       padding: 0;
//       -webkit-appearance: none;

//       .is-focused & {
//         cursor: text;
//       }
//     }

//   }

//   // fake input
//   .Select-control:not(.is-searchable) > .Select-input {
//     outline: none;
//   }

//   // loading indicator
//   .Select-loading-zone {
//     cursor: pointer;
//     display: table-cell;
//     position: relative;
//     text-align: center;
//     vertical-align: middle;
//     width: $select-loading-size;
//   }
//   .Select-loading {
//     @include Select-spinner($select-loading-size, $select-loading-color-bg, $select-loading-color);
//     vertical-align: middle;
//   }


//   // the little cross that clears the field

//   .Select-clear-zone {
//     @include animation( Select-animation-fadeIn 200ms );
//     color: $select-clear-color;
//     cursor: pointer;
//     display: table-cell;
//     position: relative;
//     text-align: center;
//     vertical-align: middle;
//     width: $select-clear-width;

//     &:hover {
//       color: $select-clear-hover-color;
//     }
//   }
//   .Select-clear {
//     display: inline-block;
//     font-size: $select-clear-size;
//     line-height: 1;
//   }
//   .Select--multi .Select-clear-zone {
//     width: $select-clear-width;
//   }


//   // arrow indicator

//   .Select-arrow-zone {
//     cursor: pointer;
//     display: table-cell;
//     position: relative;
//     text-align: center;
//     vertical-align: middle;
//     width: ($select-arrow-width * 5);
//     padding-right: $select-arrow-width;
//   }

//   .Select-arrow {
//     border-color: #fff transparent transparent;  //$select-arrow-color transparent transparent;
//     border-style: solid;
//     border-width: 0.6rem 0.6rem (0.6rem / 2);
//     display: inline-block;
//     height: 0;
//     width: 0;

//   }
//   .is-open .Select-arrow,
//   .Select-arrow-zone:hover > .Select-arrow {
//     border-top-color: $select-arrow-color-hover;
//   }


// }
