
ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  padding-top: $base-unit / 2;
  padding-bottom: $base-unit / 2;
  list-style: none;
  > li {
    padding: (12 * $one) $base-unit;
    line-height: 1.5;
  }
}

.list--unstyled {
}

.list--horizontal {
  > li {  }
}

//
// Note: It might be better to make this one 48px
// high to maintain the line height and properly
// preserve vertical rhythm
//
.body-text ul {
  padding-top: $base-unit / 4;
  padding-bottom: $base-unit / 4;
  > li {
    position: relative;
    padding-top: $base-unit / 2;
    padding-bottom: $base-unit / 2;
    padding-left: 3 * $base-unit;
  }
  > li:before {
    content: '';
    position: absolute;
    top: ($base-unit / 2) + (7 * $one);
    left: $base-unit;
    width: 10 * $one;
    height: 10 * $one;
    background: $color-primary;
  }
}


