
@import '_variables';
@import '_mixins';

@import url(https://fonts.googleapis.com/css?family=Roboto:400,700,300);

@import 'base';

@import 'typography';
@import 'lists';
@import 'buttons';

@import '../../node_modules/react-select/scss/default';


@import 'data';


// svg {
//   box-shadow: 0 2px 14px rgba(0,0,0,0.1);
// }



::-moz-focus-inner {
  border: 0;
  padding: 0;
}

@import 'textfield';

// Sample media query
// @media (min-width: $breakpoint-lg) {}

// Site-header

.site-header {
  position: fixed;
  top: 0;
  width: 100%;
  // height: 64px;
  height: 72px;
  background: #fff;
  transition: all 0.5s;
  @include shadow-24dp();
}

.site-header.is-extended {
  height: 144px;
  box-shadow: none;
  padding-top: 24px;
}

.logo-wrapper {
  white-space: nowrap;
  span { font-size: 0.5rem !important; }
  @media (min-width: $breakpoint-xs) {
    span { font-size: 0.875rem !important; }
  }
}

// .logo {
//   width: 3 * $base-unit;
//   height: 3 * $base-unit;
//   border-radius: 50%;
//   background: $color-white;
//   margin: ($base-unit / 2) auto;
// }

.icn {
  fill: currentColor;
  vertical-align: middle;
}





.site-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: $base-unit;
  padding-bottom: 180 * $one;
  z-index: 6000;
  background: rgba(255,255,255,0.95);
  
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  transform: translateY(-100%);

  opacity: 0;
  transition: opacity 0.3s;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  ul {
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
  }

  @media (min-width: $breakpoint-sm) {
    padding: 2 * $base-unit;
  }
  @media (min-width: $breakpoint-md) {
    padding: 60 * $one;
  }
}

.site-nav.is-open {
  -webkit-transform: translateY(72px);
  -moz-transform: translateY(72px);
  -ms-transform: translateY(72px);
  -o-transform: translateY(72px);
  transform: translateY(72px);
  opacity: 1;
  ul {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
}

.site-nav__section {

}

.site-nav__chapter {

}

.site-nav a {
  position: relative;
  display: block;
  overflow: hidden;
  -webkit-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  -moz-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  -ms-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  hr {
    width: 100%;
    -webkit-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    -moz-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    -ms-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    -o-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  }
  &:hover,
  &:focus {
    -webkit-transform: translateX(1rem);
    -moz-transform: translateX(1rem);
    -ms-transform: translateX(1rem);
    -o-transform: translateX(1rem);
    transform: translateX(1rem);
    hr {
      width: 33%;
    }
  }
}

.main-content-wrapper {
  position: relative;
  // transform: translateX(0);
  -webkit-transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
  -moz-transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
  -ms-transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.main-content-wrapper.removed {
  -webkit-transform: translateX(1440px);
  -moz-transform: translateX(1440px);
  -ms-transform: translateX(1440px);
  -o-transform: translateX(1440px);
  transform: translateX(1440px);
}


// nav.site-nav {
//   position: fixed;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
//   padding: 60px;
//   z-index: 6000;
//   background: rgba(255,255,255,0.95);
//   transform: translateY(-100%);
//   opacity: 0;
//   transition: opacity 0.3s;

//   // @include shadow-24dp();
// }

// nav.site-nav.is-open {
//   transform: translateY(72px);
//   opacity: 1;
// }

// // nav ul
// .site-nav ul {
//   > li {

//   }
// }

// // nav > ul
// .site-nav ul {
//   padding-top: 0;
//   padding-bottom: 0;
//   > li {
//     float: left;
//     padding: 0;
//     > a {
//       display: block;
//       min-width: 4 * $base-unit;
//       padding: (1.25 * $base-unit) $base-unit;
//       &:hover {
//         background: $color-primary;
//         color: $contrast-primary;
//         // fill: $contrast-primary;
//       }
//     }
//   }
// }





















.banner__item {

}

.banner__item.is-large {
  min-height: 480 * $one;
  background: $color-white;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.banner__item.is-small {
  min-height: 240 * $one;
  background: $color-white;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.reveal-item {
// .reveal-item .title,
// .reveal-item p.small,
// .reveal-item svg {
  opacity: 0;
  -webkit-transform: translateY(30px);
  -moz-transform: translateY(30px);
  -ms-transform: translateY(30px);
  transform: translateY(30px);
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  transition: all 0.5s;
}

// .reveal-item svg {
//   transition-delay: 0.2s;
// }

// .reveal-item p.small {
//   transition-delay: 0.4s;
// }

.reveal-item.is-revealed {
// .reveal-item.is-revealed .title,
// .reveal-item.is-revealed svg,
// .reveal-item.is-revealed p.small {
  opacity: 1;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}

.headline-divider {
  position: relative;
  width: 100%;
  overflow: hidden;
  svg {
    width: 30px;
    margin-left: 30px;
    background: transparent;
    vertical-align: top;
  }
  &:before {
    content: '';
    position: absolute;
    width: 30 * $one;
    height: 4px;
    top: 0;
    left: 0;
    background: #EE3224;
  }
  &:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    background: #EE3224;
    left: 60px;
  }
}

.chapter-banner {
  position: relative;
  height: 480 * $one;
  background: $color-secondary;
  // background-image: url('/img/chapters/img-1.jpg');
  background-size: cover;
  background-position: center 20%;
  background-repeat: no-repeat;
  color: $color-white;
  text-shadow: 0 0 16px rgba(0,0,0,0.6);
  &:before {
    position: absolute;
    content: " ";
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.3);
    top: 0;
    left: 0;
  }
  > div {
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
  }
}


.tabs {

}

.tab-navigation {
  border-bottom: 4 * $one solid $color-secondary;
}

.tab-navigation__item {
  -webkit-appearance: none;
  cursor: pointer;
  padding: 1rem 1.5rem;
  border: 0;
  border-bottom: 4 * $one solid transparent;
  background: transparent;
  outline: none;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
}

.tab-navigation__item.active {
  border-bottom: 4 * $one solid $color-primary;
}

.tab-panel {
  // display: none;
  display: block;
  height: 0;
  overflow: hidden;
  opacity: 0;
  -webkit-transition: opacity 1s;
  -moz-transition: opacity 1s;
  -ms-transition: opacity 1s;
  -o-transition: opacity 1s;
  transition: opacity 1s;
  th {
    border-top: 0;
  }
}

.tab-panel.active {
  display: block;
  height: auto;
  opacity: 1;
  overflow: visible;
}

.side-navigation {
  display: none;
  position: relative;
  z-index: 1000;
  h4 {
    background: $color-white;
    padding: 1rem;
  }
  @media (min-width: $breakpoint-md) {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
  }
  ul {
    background: $color-white;
    li {
      padding-left: 1rem;
      &:hover {
        cursor: pointer;
      }
      &:before {
        width:0;
        height:0;
      }
    }
  }
}




$select-input-bg-disabled: $color-secondary;
$select-input-bg: $color-white;
$select-input-height: 4.5rem;

.Select {
  // float: left;
  background: transparent;
  width: 100%;
  position: relative;
  &.is-disabled > .Select-control {
    background-color: $select-input-bg-disabled;
  }
  &.is-disabled .Select-arrow-zone {
    cursor: default;
    pointer-events: none;
  }
}

.Select.is-open {
  background: #fff;
  border: 0;
}

.Select-control {
  display: block;
  border-radius: 0;
  width: 100%;
  background: transparent;
  border: 0;
  color: inherit;
  cursor: pointer;
  // display: table;
  height: $select-input-height;
  outline: none;
  overflow: hidden;
  position: relative;
  width: 100%;
  &:hover {
    box-shadow: none;
  }
}

.is-searchable {
  &.is-open > .Select-control {
    cursor: text;
  }
}

.is-open > .Select-control {
  color: $text-color-base;
  background: $color-white;
  box-shadow: 0 2px 14px -4px rgba(0,0,0,0.5);
  > .Select-arrow {
    // border-color: transparent transparent $text-color-base;
    // border-width: 0 0.8rem 0.8rem;
  }
  .Select-placeholder {
    // color: $text-color-base;
    color: inherit;
  }
}

.has-value > .Select-control > .Select-placeholder {
  color: inherit;
}

.is-searchable {
  &.is-focused:not(.is-open) > .Select-control {
    cursor: text;
  }
}

.is-focused:not(.is-open) > .Select-control {}

.Select-placeholder {
  bottom: 0;
  // color: $text-color-base;
  color: inherit;
  // color: $color-white;
  left: 0;
  line-height: $select-input-height;
  padding-left: 2.4rem;
  // padding-right: 2.4rem;
  padding-right: 3.4rem;
  position: absolute;
  right: 0;
  top: 0;
  // crop text
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.Select-value {
  // color: $text-color-base;
  color: inherit;
  // color: $color-white;
  left: 0;
  padding: 0.8rem 52px 0.8rem 0.8rem;
  position: absolute;
  right: -(0.8rem + 0.8rem);
  top: 0;
  // crop text
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.Select-input {
  height: $select-input-height;
  padding-left: 2.4rem;
  padding-right: 2.4rem;
  vertical-align: middle;
  outline: none;
  > input {
    color: inherit;
    background: none transparent;
    border: 0 none;
    box-shadow: none;
    cursor: default;
    display: inline-block;
    font-family: inherit;
    font-size: inherit;
    height: $select-input-height;
    margin: 0;
    outline: none;
    padding: 0;
    -webkit-appearance: none;
    .is-focused & {
      cursor: text;
    }
  }

}

.Select-clear-zone {
  // color: $color-white;
  // color: $text-color-base;
  color: inherit;
  cursor: pointer;
  display: table-cell;
  position: relative;
  text-align: center;
  vertical-align: middle;
  width: 4rem;

  &:hover {
    // color: $color-white;
    // color: $text-color-base;
    color: inherit;
  }
}
.Select-clear {
  display: inline-block;
  font-size: 2rem;
  line-height: 1;
}
.Select--multi .Select-clear-zone {
  width: 4rem;
}

.Select-arrow-zone {
  position: absolute;
  top: 37%;
  right: 0;
  cursor: pointer;
  // display: table-cell;
  // position: relative;
  text-align: center;
  vertical-align: middle;
  width: (0.8rem * 5);
  padding-right: 0.8rem;
}

.Select-arrow {
  // border-color: $color-white transparent transparent;
  border-color: $text-color-base transparent transparent;
  border-style: solid;
  border-width: 0.6rem 0.6rem (0.6rem / 2);
  display: inline-block;
  height: 0;
  width: 0;
}
.is-open .Select-arrow,
.Select-arrow-zone:hover > .Select-arrow {
  // border-top-color: $color-white;
  border-top-color: $text-color-base;
}

.Select-menu-outer {
  background-color: $color-white;
  box-shadow: 0 -4px 0 0 rgba(255,255,255,1),
              0 2px 14px -4px rgba(0,0,0,0.5);
  box-sizing: border-box;
  margin-top: 0;
  // max-height: 32rem;
  max-height: 320 * $one;
  overflow: hidden;
  position: absolute;
  // top: 73px;
  top: 100%;
  width: 100%;
  z-index: 1000;
  -webkit-overflow-scrolling: touch;
  border: 0;
  border-radius: 0;
}

.Select-menu {
  max-height: (32rem - 0.2rem);
  overflow-y: auto;
}

.Select-option {
  box-sizing: border-box;
  color: $text-color-base;
  cursor: pointer;
  display: block;
  padding: 1.6rem 2.4rem;

  &:last-child {
    border-radius: 0;
  }

  &.is-focused {
    // background-color: $color-grey-200;
    // color: $color-teal-500;
    background: $color-primary;
    color: $color-white;
  }

  &.is-disabled {
    color: $color-secondary;
    cursor: not-allowed;
  }

}

.Select-noresults,
.Select-search-prompt,
.Select-searching {
  box-sizing: border-box;
  color: $color-secondary;
  cursor: default;
  display: block;
  padding: 1.6rem 2.4rem;
}

.scroll-spy {
  -webkit-transition: -webkit-box-shadow 0.3s;
  -moz-transition: -moz-box-shadow 0.3s;
  -ms-transition: -ms-box-shadow 0.3s;
  -o-transition: -o-box-shadow 0.3s;
  transition: box-shadow 0.3s;
  -webkit-box-shadow: inset 10px 0 0 -1px transparent;
  -moz-box-shadow: inset 10px 0 0 -1px transparent;
  -ms-box-shadow: inset 10px 0 0 -1px transparent;
  -o-box-shadow: inset 10px 0 0 -1px transparent;
  box-shadow: inset 10px 0 0 -1px transparent;
}

.scroll-spy.active {
  -webkit-box-shadow: inset 5px 0 0 -1px $color-primary;
  -moz-box-shadow: inset 5px 0 0 -1px $color-primary;
  -ms-box-shadow: inset 5px 0 0 -1px $color-primary;
  -o-box-shadow: inset 5px 0 0 -1px $color-primary;
  box-shadow: inset 5px 0 0 -1px $color-primary;
}

.chart-tooltip {
  position: absolute;
  background: #fff;
  width: 160px;
  line-height: 1;
  text-align: center;
  padding: 1rem;
  -webkit-box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  -moz-box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  -ms-box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  -o-box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  -webkit-transform: translate(-50%,-100%);
  -moz-transform: translate(-50%,-100%);
  -ms-transform: translate(-50%,-100%);
  -o-transform: translate(-50%,-100%);
  transform: translate(-50%,-100%);
}

.legend-item {
  position: relative;
  float: left;
  span {
    vertical-align: top;
  }
}

.legend-item-dot {
  display: block;
  position: absolute;
  margin-top: 3px;
  width: 10px;
  height: 10px;
  top: 0;
  left: 0;
}

.icn path,
.icn polygon {
  fill: currentColor !important;
}


.simple-bar-chart > div {
  border-top: 4px solid $color-light-grey;
  border-bottom: 4px solid $color-light-grey;
  margin-bottom: 1rem;
}

.tab-panel .simple-bar-chart > div {
  border-top: 0;
}



// .quote {
//   position: relative;
//   .icn {
//     position: absolute;
//     top: 0;
//     left: 16 * $one;
//   }
//   blockquote {
//     padding-left: 88 * $one;
//   }
// }

@import 'loader';

@import 'utils';
