
.m0  { margin:        0; }
.mt0 { margin-top:    0; }
.mr0 { margin-right:  0; }
.mb0 { margin-bottom: 0; }
.ml0 { margin-left:   0; }
.mx0 { margin-left:   0; margin-right:  0; }
.my0 { margin-top:    0; margin-bottom: 0; }

.m1  { margin:        calc(1 * var(--base-unit)); }
.mt1 { margin-top:    calc(1 * var(--base-unit)); }
.mr1 { margin-right:  calc(1 * var(--base-unit)); }
.mb1 { margin-bottom: calc(1 * var(--base-unit)); }
.ml1 { margin-left:   calc(1 * var(--base-unit)); }
.mx1 { margin-left:   calc(1 * var(--base-unit)); margin-right:  calc(1 * var(--base-unit)); }
.my1 { margin-top:    calc(1 * var(--base-unit)); margin-bottom: calc(1 * var(--base-unit)); }

.mxn1 { margin-left: calc(-1 * var(--base-unit)); margin-right: calc(-1 * var(--base-unit)); }

.m2  { margin:        calc(2 * var(--base-unit)); }
.mt2 { margin-top:    calc(2 * var(--base-unit)); }
.mr2 { margin-right:  calc(2 * var(--base-unit)); }
.mb2 { margin-bottom: calc(2 * var(--base-unit)); }
.ml2 { margin-left:   calc(2 * var(--base-unit)); }
.mx2 { margin-left:   calc(2 * var(--base-unit)); margin-right:  calc(2 * var(--base-unit)); }
.my2 { margin-top:    calc(2 * var(--base-unit)); margin-bottom: calc(2 * var(--base-unit)); }

.mxn2 { margin-left: calc(-2 * var(--base-unit)); margin-right: calc(-2 * var(--base-unit)); }

.m3  { margin:        calc(3 * var(--base-unit)); }
.mt3 { margin-top:    calc(3 * var(--base-unit)); }
.mr3 { margin-right:  calc(3 * var(--base-unit)); }
.mb3 { margin-bottom: calc(3 * var(--base-unit)); }
.ml3 { margin-left:   calc(3 * var(--base-unit)); }
.mx3 { margin-left:   calc(3 * var(--base-unit)); margin-right:  calc(3 * var(--base-unit)); }
.my3 { margin-top:    calc(3 * var(--base-unit)); margin-bottom: calc(3 * var(--base-unit)); }

.mxn3 { margin-left: calc(-3 * var(--base-unit)); margin-right: calc(-3 * var(--base-unit)); }

.m4  { margin:        calc(4 * var(--base-unit)); }
.mt4 { margin-top:    calc(4 * var(--base-unit)); }
.mr4 { margin-right:  calc(4 * var(--base-unit)); }
.mb4 { margin-bottom: calc(4 * var(--base-unit)); }
.ml4 { margin-left:   calc(4 * var(--base-unit)); }
.mx4 { margin-left:   calc(4 * var(--base-unit)); margin-right:  calc(4 * var(--base-unit)); }
.my4 { margin-top:    calc(4 * var(--base-unit)); margin-bottom: calc(4 * var(--base-unit)); }

.mxn4 { margin-left: calc(-4 * var(--base-unit)); margin-right: calc(-4 * var(--base-unit)); }

@media (--xs-viewport) {
  .xs-mx0 { margin-left:   0;                          margin-right:  0;              }
  .xs-mx1 { margin-left:   calc(1 * var(--base-unit)); margin-right:  calc(1 * var(--base-unit)); }
  .xs-mx2 { margin-left:   calc(2 * var(--base-unit)); margin-right:  calc(2 * var(--base-unit)); }
  .xs-mx3 { margin-left:   calc(3 * var(--base-unit)); margin-right:  calc(3 * var(--base-unit)); }
  .xs-mx4 { margin-left:   calc(4 * var(--base-unit)); margin-right:  calc(4 * var(--base-unit)); }

  .xs-mxn1 { margin-left: calc(-1 * var(--base-unit)); margin-right: calc(-1 * var(--base-unit)); }
  .xs-mxn2 { margin-left: calc(-2 * var(--base-unit)); margin-right: calc(-2 * var(--base-unit)); }
  .xs-mxn3 { margin-left: calc(-3 * var(--base-unit)); margin-right: calc(-3 * var(--base-unit)); }
  .xs-mxn4 { margin-left: calc(-4 * var(--base-unit)); margin-right: calc(-4 * var(--base-unit)); }
}
@media (--sm-viewport) {

  .sm-my1 { margin-top:    calc(1 * var(--base-unit)); margin-bottom: calc(1 * var(--base-unit)); }

  .sm-mx0 { margin-left:   0;                          margin-right:  0;              }
  .sm-mx1 { margin-left:   calc(1 * var(--base-unit)); margin-right:  calc(1 * var(--base-unit)); }
  .sm-mx2 { margin-left:   calc(2 * var(--base-unit)); margin-right:  calc(2 * var(--base-unit)); }
  .sm-mx3 { margin-left:   calc(3 * var(--base-unit)); margin-right:  calc(3 * var(--base-unit)); }
  .sm-mx4 { margin-left:   calc(4 * var(--base-unit)); margin-right:  calc(4 * var(--base-unit)); }

  .sm-mxn1 { margin-left: calc(-1 * var(--base-unit)); margin-right: calc(-1 * var(--base-unit)); }
  .sm-mxn2 { margin-left: calc(-2 * var(--base-unit)); margin-right: calc(-2 * var(--base-unit)); }
  .sm-mxn3 { margin-left: calc(-3 * var(--base-unit)); margin-right: calc(-3 * var(--base-unit)); }
  .sm-mxn4 { margin-left: calc(-4 * var(--base-unit)); margin-right: calc(-4 * var(--base-unit)); }
}
@media (--md-viewport) {
  .md-mx0 { margin-left:   0;                          margin-right:  0;              }
  .md-mx1 { margin-left:   calc(1 * var(--base-unit)); margin-right:  calc(1 * var(--base-unit)); }
  .md-mx2 { margin-left:   calc(2 * var(--base-unit)); margin-right:  calc(2 * var(--base-unit)); }
  .md-mx3 { margin-left:   calc(3 * var(--base-unit)); margin-right:  calc(3 * var(--base-unit)); }
  .md-mx4 { margin-left:   calc(4 * var(--base-unit)); margin-right:  calc(4 * var(--base-unit)); }

  .md-mxn1 { margin-left: calc(-1 * var(--base-unit)); margin-right: calc(-1 * var(--base-unit)); }
  .md-mxn2 { margin-left: calc(-2 * var(--base-unit)); margin-right: calc(-2 * var(--base-unit)); }
  .md-mxn3 { margin-left: calc(-3 * var(--base-unit)); margin-right: calc(-3 * var(--base-unit)); }
  .md-mxn4 { margin-left: calc(-4 * var(--base-unit)); margin-right: calc(-4 * var(--base-unit)); }
}
@media (--lg-viewport) {
  .lg-mx0 { margin-left:   0;                          margin-right:  0;              }
  .lg-mx1 { margin-left:   calc(1 * var(--base-unit)); margin-right:  calc(1 * var(--base-unit)); }
  .lg-mx2 { margin-left:   calc(2 * var(--base-unit)); margin-right:  calc(2 * var(--base-unit)); }
  .lg-mx3 { margin-left:   calc(3 * var(--base-unit)); margin-right:  calc(3 * var(--base-unit)); }
  .lg-mx4 { margin-left:   calc(4 * var(--base-unit)); margin-right:  calc(4 * var(--base-unit)); }

  .lg-mxn1 { margin-left: calc(-1 * var(--base-unit)); margin-right: calc(-1 * var(--base-unit)); }
  .lg-mxn2 { margin-left: calc(-2 * var(--base-unit)); margin-right: calc(-2 * var(--base-unit)); }
  .lg-mxn3 { margin-left: calc(-3 * var(--base-unit)); margin-right: calc(-3 * var(--base-unit)); }
  .lg-mxn4 { margin-left: calc(-4 * var(--base-unit)); margin-right: calc(-4 * var(--base-unit)); }
}
@media (--xl-viewport) {
  .xl-mx0 { margin-left:   0;                          margin-right:  0;              }
  .xl-mx1 { margin-left:   calc(1 * var(--base-unit)); margin-right:  calc(1 * var(--base-unit)); }
  .xl-mx2 { margin-left:   calc(2 * var(--base-unit)); margin-right:  calc(2 * var(--base-unit)); }
  .xl-mx3 { margin-left:   calc(3 * var(--base-unit)); margin-right:  calc(3 * var(--base-unit)); }
  .xl-mx4 { margin-left:   calc(4 * var(--base-unit)); margin-right:  calc(4 * var(--base-unit)); }

  .xl-mxn1 { margin-left: calc(-1 * var(--base-unit)); margin-right: calc(-1 * var(--base-unit)); }
  .xl-mxn2 { margin-left: calc(-2 * var(--base-unit)); margin-right: calc(-2 * var(--base-unit)); }
  .xl-mxn3 { margin-left: calc(-3 * var(--base-unit)); margin-right: calc(-3 * var(--base-unit)); }
  .xl-mxn4 { margin-left: calc(-4 * var(--base-unit)); margin-right: calc(-4 * var(--base-unit)); }
}
