
.shadow-1 {
  box-shadow: 0 2px 8px rgba(0,0,0,0.20);
}
.shadow-2 {
  box-shadow: 0 2px 16px rgba(0,0,0,0.08);
}
.shadow-3 {
  box-shadow: 0 2px 20px rgba(0,0,0,0.10);
}
.shadow-4 {
  box-shadow: 0 2px 24px rgba(0,0,0,0.10);
}
