
.textfield {
  position: relative;
  display: inline-block;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: 1.25;
  border: 0;
  color: inherit;
  background-color: transparent;
  outline: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
  border-bottom: calc(2 * var(--one)) solid var(--color-primary);
}
