
.textfield {
  position: relative;
  display: inline-block;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: 1.25;
  border: 0;
  color: inherit;
  background-color: transparent;
  outline: 0;
  width: 100%;
  border-bottom: calc(2 * var(--one)) solid #CECECE;
  transition: border 0.3s;
}
.textfield--focused {
  border-bottom: calc(2 * var(--one)) solid var(--color-primary);
}

::-webkit-input-placeholder {
   color: var(--color-grey);
}

:-moz-placeholder { /* Firefox 18- */
   color: var(--color-grey);
}

::-moz-placeholder {  /* Firefox 19+ */
   color: var(--color-grey);
}

:-ms-input-placeholder {
   color: var(--color-grey);
}
