
h1,h2,h3,h4,h5,h6 {
  margin-top:    calc(var(--base-line-height) * var(--base-unit));
  margin-bottom: calc(var(--base-line-height) * var(--base-unit));
}

p {
  margin-top:    calc(var(--base-line-height) * 1em);
  margin-bottom: calc(var(--base-line-height) * 1em);
}

p:first-child { margin-top: 0;    }
p:last-child  { margin-bottom: 0; }

/*Text size*/
small,
.text-xs   { font-size: calc(13 * var(--one)); }
.text-base { font-size: calc(16 * var(--one)); }
.text-sm   { font-size: calc(20 * var(--one)); }
.text-md   { font-size: calc(24 * var(--one)); }
.text-lg   { font-size: calc(34 * var(--one)); }
.text-xl   { font-size: calc(44 * var(--one)); }
.text-xxl  { font-size: calc(56 * var(--one)); }
.text-xxxl { font-size: calc(64 * var(--one)); }

.heading-lg   { font-size: calc(72  * var(--one)); }
.heading-xl   { font-size: calc(112 * var(--one)); }
.heading-xxl  { font-size: calc(144 * var(--one)); }
.heading-xxxl { font-size: calc(240 * var(--one)); }
/*
small,
.text-xs   { font-size: calc(13 * var(--one)); }
.text-base { font-size: calc(16 * var(--one)); }
.text-sm   { font-size: calc(20 * var(--one)); }
.text-md   { font-size: calc(24 * var(--one)); }
.text-lg   { font-size: calc(32 * var(--one)); }
.text-xl   { font-size: calc(44 * var(--one)); }
.text-xxl  { font-size: calc(56 * var(--one)); }
.text-xxxl { font-size: calc(64 * var(--one)); }*/

/*Line height*/
.lh-1       { line-height: 1; }
.lh-base    { line-height: var(--base-line-height);  }
.lh-small   { line-height: var(--small-line-height); }

/*Text align*/
.text-left,
.align-left   { text-align: left;   }

.text-right,
.align-right  { text-align: right;  }

.text-center,
.align-center { text-align: center; }

/*Text weight*/
b,
strong,
.strong   { font-weight: 700; }
.regular  { font-weight: 400; }
.light    { font-weight: 300; }

.italic { font-style: italic; }

/*Letterspacing*/
.expanded  { letter-spacing: 1px; }

/*Uppercase*/
.uppercase   { text-transform: uppercase;  }
.lowercase   { text-transform: lowercase;  }
.capitalized { text-transform: capitalize; }

/*Text decoration*/
.underline    { text-decoration: underline;    }
.line-through { text-decoration: line-through; }
