
.bg-primary   { background: var(--color-primary);   color: var(--color-primary-contrast);   }
.bg-primary g {
  stroke: var(--color-primary-contrast);
}
.bg-secondary { background: var(--color-secondary); color: var(--color-secondary-contrast); }

.bg-white     { background: var(--color-white);       color: var(--text-color-base); }
.bg-light     { background: var(--color-grey-light);  color: var(--text-color-base); }
.bg-lighter   { background: #FBFBFB;                  color: var(--text-color-base); }
.bg-dark      { background: var(--color-grey-dark);   color: var(--color-white);     }
.bg-darker    { background: var(--color-grey-darker); color: var(--color-white);     }
.bg-beige     { background: #8D8070;                  color: var(--color-white);     }

.btn.bg-primary {
  color: var(--color-primary-contrast) !important;
}

.fill-primary { fill: var(--color-primary); }
.fill-secondary { fill: var(--color-secondary); }
.fill-grey { fill: var(--color-grey); }
.fill-beige   { fill: #8D8070; }

.stroke-primary { stroke: var(--color-primary); }
.stroke-secondary { stroke: var(--color-primary); }
.stroke-normal { stroke: var(--text-color-base); }
.stroke-current { stroke: currentcolor; }


.color-primary   { color: var(--color-primary);   }
.color-secondary { color: var(--color-secondary); }

.color-regular  { color: var(--text-color-base) !important; }
.color-inverted { color: var(--color-white) !important;     }

.ratio-wide,
.ratio-16-9,
.ratio-3-2,
.ratio-10-6,
.ratio-4-3,
.ratio-1-1, {
  /*position: relative;*/
  height: 0;
  /*overflow: hidden;*/
  /*background: var(--color-secondary);*/
}

.ratio-wide { padding-bottom: 52%;        }
.ratio-16-9 { padding-bottom: 56.25%;     }
.ratio-3-2  { padding-bottom: 66.666666%; }
.ratio-10-6 { padding-bottom: 60%;        }
.ratio-4-3  { padding-bottom: 75%;        }
.ratio-1-1  { padding-bottom: 100%;       }

.ratio-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.align-baseline  { vertical-align: baseline; }
.align-top       { vertical-align: top;      }
.align-middle    { vertical-align: middle;   }
.align-bottom    { vertical-align: bottom;   }

.relative        { position: relative; }
.absolute        { position: absolute; }
.fixed           { position: fixed;    }

.inline          { display: inline;       }
.block           { display: block;        }
.inline-block    { display: inline-block; }
.table           { display: table;        }
.table-cell      { display: table-cell;   }

.float-left      { float: left;  }
.float-right     { float: right; }

.overflow-hidden { overflow: hidden; }
.overflow-scroll { overflow: scroll; }
.overflow-auto   { overflow: auto;   }

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table
}
.clearfix:after { clear: both; }

.opacity-0 { opacity: 0; }
.opacity-1 { opacity: 1; }

.xs-visible,
.sm-visible,
.md-visible,
.lg-visible,
.xl-visible {
  display: none;
}

.sm-hidden {
  display: initial;
}

.z-index-1 { z-index: 1 }
.z-index-2 { z-index: 2 }
.z-index-3 { z-index: 3 }
.z-index-4 { z-index: 4 }
.z-index-100  { z-index: 100  }
.z-index-1000 { z-index: 1000 }

@media (--xs-viewport) {
  .xs-visible { display: initial; }
}
@media (--sm-viewport) {
  .sm-visible { display: initial; }
  .sm-hidden  { display: none; }

  .sm-relative { position: relative; }
  .sm-absolute { position: absolute; }
  .sm-fixed    { position: fixed;    }

  .sm-inline       { display: inline;       }
  .sm-block        { display: block;        }
  .sm-inline-block { display: inline-block; }
  .sm-table        { display: table;        }
  .sm-table-cell   { display: table-cell;   }
}
@media (--md-viewport) {
  .md-visible { display: initial; }
}
@media (--lg-viewport) {
  .lg-visible { display: initial; }
}
@media (--xl-viewport) {
  .xl-visible { display: initial; }
}
