
/*background colors*/
.bg-primary   { color: var(--color-primary-contrast); background: var(--color-primary);   }
.bg-secondary { color: var(--color-primary-contrast); background: var(--color-secondary); }
.bg-light     { color: var(--text-color-base);        background: var(--color-grey-100);  }
.bg-dark      { color: var(--color-primary-contrast); background: var(--color-grey-800);  }
.bg-white     { color: var(--text-color-base);        background: var(--color-white);     }
.bg-beige     { color: var(--color-secondary-contrast); background: #8D8070; }

.bg-grey-100  { background: var(--color-grey-100); }
.bg-grey-200  { background: var(--color-grey-200); }
.bg-grey-300  { background: var(--color-grey-300); }
.bg-grey-400  { background: var(--color-grey-400); }
.bg-grey-500  { background: var(--color-grey-500); }
.bg-grey-600  { background: var(--color-grey-600); }
.bg-grey-700  { background: var(--color-grey-700); }

.bg-primary g {
  stroke: #fff;
}
.stroke-current {
  stroke: currentcolor;
}
.stroke-primary {
  stroke: var(--color-primary);
}

.bg-primary a,
.bg-dark a,
a.bg-primary,
a.bg-dark {
  color: var(--color-primary-contrast);
}

.bg-secondary a,
.bg-beige a,
a.bg-secondary,
a.bg-beige {
  color: var(--color-secondary-contrast);
}

.bg-white a,
a.bg-white {
  color: var(--text-color-base)
}

.fill-beige   { fill: #8D8070; }

/*text colors*/
.color-primary   { color: var(--color-primary);   }
.color-secondary { color: var(--color-secondary); }
.color-light     { color: var(--color-grey-100);  }
.color-dark      { color: var(--color-grey-800);  }

.color-grey-100  { color: var(--color-grey-100); }
.color-grey-200  { color: var(--color-grey-200); }
.color-grey-300  { color: var(--color-grey-300); }
.color-grey-400  { color: var(--color-grey-400); }
.color-grey-500  { color: var(--color-grey-500); }
.color-grey-600  { color: var(--color-grey-600); }
.color-grey-700  { color: var(--color-grey-700); }

.color-regular  { color: var(--text-color-base) !important; }
.color-inverted { color: var(--color-white) !important;     }

.stroke-white { stroke: var(--color-white); }

/*Wrapping*/
.no-wrap { white-space: nowrap; }

/*Vertical align*/
.align-baseline  { vertical-align: baseline; }
.align-top       { vertical-align: top;      }
.align-middle    { vertical-align: middle;   }
.align-bottom    { vertical-align: bottom;   }

/*Display*/
.inline          { display: inline;       }
.block           { display: block;        }
.inline-block    { display: inline-block; }
.table           { display: table;        }
.table-cell      { display: table-cell;   }

/*Oveflow*/
.overflow-hidden { overflow: hidden; }
.overflow-scroll { overflow: scroll; }
.overflow-auto   { overflow: auto;   }

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table
}
.clearfix:after { clear: both; }

/*Float*/
.left { float: left; }
.right { float: right; }

/*Visibility*/
.hidden  { display: none; }

.xs-visible,
.sm-visible,
.md-visible,
.lg-visible,
.xl-visible {
  display: none;
}

/*Alignments*/
.y-center-self { transform: translateY(-50%); }
.x-center-self { transform: translateX(-50%); }

.opacity-0 { opacity: 0; }
.opacity-1 { opacity: 1; }

/*.centered {
  right: 50%;
  transform: translateX(50%);
}*/

/*.rotate-90 {
  transform: translateX(0)rotate(90deg);
  transform-origin: top left;
}

.rotate--90 {
  transform: translateX(0)rotate(-90deg);
  transform-origin: bottom left;
}*/

@media (--xs-viewport) {
  .xs-visible         { display: initial;      }
  .xs-hidden          { display: none;         }
  .xs-block           { display: block;        }
  .xs-inline-block    { display: inline-block; }

  .xs-y-center-self { transform: translateY(-50%); }
  .xs-x-center-self { transform: translateX(-50%); }
}

@media (--sm-viewport) {
  .sm-visible         { display: initial;      }
  .sm-hidden          { display: none;         }
  .sm-block           { display: block;        }
  .sm-inline-block    { display: inline-block; }

  .sm-y-center-self { transform: translateY(-50%); }
  .sm-x-center-self { transform: translateX(-50%); }
}

@media (--md-viewport) {
  .md-visible         { display: initial;      }
  .md-hidden          { display: none;         }
  .md-block           { display: block;        }
  .md-inline-block    { display: inline-block; }

  .md-y-center-self { transform: translateY(-50%); }
  .md-x-center-self { transform: translateX(-50%); }
}

@media (--lg-viewport) {
  .lg-visible         { display: initial;      }
  .lg-hidden          { display: none;         }
  .lg-block           { display: block;        }
  .lg-inline-block    { display: inline-block; }

  .lg-y-center-self { transform: translateY(-50%); }
  .lg-x-center-self { transform: translateX(-50%); }
}

@media (--xl-viewport) {
  .xl-visible         { display: initial;      }
  .xl-hidden          { display: none;         }
  .xl-block           { display: block;        }
  .xl-inline-block    { display: inline-block; }

  .xl-y-center-self { transform: translateY(-50%); }
  .xl-x-center-self { transform: translateX(-50%); }
}


/*// z index*/
.z-index-1   { z-index: 1; }
.z-index-2   { z-index: 2; }
.z-index-3   { z-index: 3; }
.z-index-4   { z-index: 4; }
.z-index-5   { z-index: 5; }
.z-index-10  { z-index: 10;     }
.z-index-20  { z-index: 20;     }
.z-index-100 { z-index: 100;    }
.z-index-max { z-index: 999999; }


.z-index-0 { z-index: 0; }

.z-index--1 { z-index: -1; }
.z-index--2 { z-index: -2; }
.z-index--3 { z-index: -3; }
.z-index--4 { z-index: -4; }
.z-index--5 { z-index: -5; }
.z-index--10  { z-index: 10; }
.z-index--20  { z-index: 20; }
.z-index--100 { z-index: 100;}
