
$font-family-base: 'Roboto';
$font-family-condensed: 'Roboto Condensed'; // optional

$one: 0.0625rem;  // 1px
$base-unit: 1rem; // 16px
$base-font-size: 1rem;
$base-line-height: 1.5;

$button-border-weight: 2 * $one; // Specify in rem!
$button-dark-factor-hover:  0.15;
$button-dark-factor-focus:  0.10;
$button-dark-factor-active: 0.20;

$color-white:        #ffffff;

$color-pink-500:     #E91E63;
// $color-red-500:      #F44336;
$color-red-500:      #EE3224;
$color-purple-500:   #9C27B0;
$color-indigo-500:   #3F51B5;
$color-green-500:    #4CAF50;
$color-yellow-500:   #FFEB3B;
$color-amber-500:    #FFC107;
$color-orange-500:   #FF9800;

$color-dark-grey:    #786A65;
$color-grey:         #B8AAA5;
$color-light-grey:   #F1F0EF;

$text-color-base:    $color-dark-grey;

$color-primary:      $color-red-500;
$contrast-primary:   $color-white;
$color-secondary:    $color-light-grey;
$contrast-secondary: inherit;

$widths: (
  8.33333%,
  16.66667%,
  25%,
  33.33333%,
  41.66667%,
  50%,
  58.33333%,
  66.66667%,
  75%,
  83.33333%,
  91.66667%,
  100%
);

$breakpoint-xs: 30em;
$breakpoint-sm: 48em;
$breakpoint-md: 62em;
$breakpoint-lg: 75em;
$breakpoint-xl: 91em;

$shadow-key-umbra-opacity: 0.16 !default;
$shadow-key-penumbra-opacity: 0.10 !default;
$shadow-ambient-shadow-opacity: 0.08 !default;
